.main {
	display: flex;
	justify-content: center;

	.back {
		font-size: 2em;

		color: #000;

		position: absolute;
		top: 10px;
		left: 10px;
	}

	&__note {
		height: 100%;
		min-height: 80vh;
		max-width: 800px;
		width: 800px;

		margin: 2em 0.5em;
		padding: 1em;

		border: 0.5px solid #f3eeee;
		border-radius: 20px;

		@media (max-width: 768px) {
			margin: 1em 0.5em;
			min-height: 90vh;
		}

		.content {
			font-size: 1.2em;
			height: 100%;
		}

		.footer {
			font-size: 10px;
		}
	}
}
