.main {
	height: 200px;
	width: 20%;

	display: flex;
	justify-content: space-between;
	flex-direction: column;

	background-color: #fec871;

	padding: 1em;

	border-radius: 20px;

	box-sizing: border-box;

	text-align: left;

	@media (max-width: 768px) {
		width: 100%;
	}

	h3 {
		margin: 0;
	}

	&__details {
		display: flex;
		justify-content: space-between;

		div {
			font-size: 12px;
		}

		button {
			background: none;
			border: none;

			color: #fff;

			font-size: 1.3em;
		}
	}
}
