.main {
  height: 200px;
  width: 19.3%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-color: #fec871;

  padding: 1em;

  border: 0.5px solid #f3eeee;
  border-radius: 20px;

  box-sizing: border-box;

  text-align: left;

  @media (max-width: 1244px) {
    width: 19%;
  }

  @media (max-width: 900px) {
    width: 24%;
  }

  @media (max-width: 850px) {
    width: 32%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  a {
    text-decoration: none;

    svg {
      color: #fff !important;
      font-size: 18px;
    }
  }

  h3 {
    margin: 0;
    color: #000;
  }

  &__details {
    display: flex;
    justify-content: space-between;

    div {
      font-size: 12px;
    }

    button {
      background: none;
      border: none;

      color: #fff;

      font-size: 1.3em;
    }
  }
}
